.u-custom-font-secondary {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2.5rem;
    line-height: .2;
    color: var(--main-font-dark-gray);
    margin-bottom: 5rem;
}