.p-articles-page {

  &__content-area {
    min-height: 80vh;
  }
  &__top-space {
    background-color: var(--light-grey-1);
    padding: 15rem 0;
    margin-top: -55vh;
  }

  &__bottom-space {
    height: 30vh;
  }
}