.p-show-post {
  padding: 0 3rem 0 3rem;
  text-align: justify;

  @include mediaSm {
    padding: 0 4rem 0 4rem;
  }

  @include mediaMd {
    padding: 0 10rem 0 10rem;
  }

  @include mediaLg {
    padding: 0 15rem 0 15rem;
  }

  @include mediaXl {
    padding: 0 30rem 0 30rem;
  }
}