.c-about {

  &__pic {
    width: 100%;
    min-height: 30rem;
    background: url('/static/images/pic20.jpg') center no-repeat;
    background-size: cover;  

    @include mediaMd {
      min-height: 40rem;
    }
  }

  &__pic2 {
    width: 100%;
    min-height: 30rem;
    background: url('/static/images/pic38.jpg') center no-repeat;
    background-size: cover;  

    @include mediaMd {
      min-height: 40rem;
    }
  }
  
  &__container {
    width: 90%;
    margin: auto;
    text-align: center;

    @include mediaMd {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__my-backend {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url('/static/images/close-up-code.jpg') center no-repeat;
    background-size: cover;
  }

  &__my-back-end-skills {

  }

  &__my-front-end {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url('/static/images/web.jpg') center no-repeat;
    background-size: cover;
  }

  &__my-front-end-skills {
    
  }
}