.c-comments-section {
  padding: 0 25rem 2rem 25rem;

  @include response(tab-port) {
    padding: 0 5rem 3rem 5rem;
  }

  @include response(phone) {
    padding: 0 3rem 2rem 3rem;
  }

  &__cta {
    color: var(--dark-green);
    font-size: 1.2rem;
  }

  &__cta-link {
    font-size: 1.5rem;
    color: var(--dark-green);
    text-decoration: underline;
  }
}