.c-comments-form {

  &__text-field {
    width: 80%;
    height: 2.5rem;
    background: #313131;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: #FFF;
    padding: 0.6rem 0.6rem;
  }

  &__submit-button {
    width: 20%;
    height: 2.5rem;
    display: block;
    float: right;
    color: #FFF;
    font-size: 2.0rem;
    background: var(--dark-green);
    border: none;
    outline: none;
    padding: 0.3rem;
    transition: 0.4s all;

    &:hover {
      opacity: 0.6;
    }
  }
}
