.c-comments-form {
  @include mediaMd {
    width: 70%;
  }
  &__text-field {
    width: 80%;
    height: 4rem;
    background: #313131;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #FFF;
    padding: 0.6rem 0.6rem;

    @include mediaMd {
      height: 6rem;
    }
  }

  &__submit-button {
    width: 20%;
    height: 4rem;
    display: block;
    float: right;
    color: #FFF;
    font-size: 2.0rem;
    background: green;
    border: none;
    outline: none;
    padding: 0.3rem;
    transition: 0.4s all;

    @include mediaMd {
      height: 6rem;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
