.c-comments-section {
  padding: 0 2rem 2rem 2rem;

  &__cta {
    color: var(--dark-green);
    font-size: 1.2rem;
  }

  &__cta-link {
    font-size: 1.5rem;
    color: var(--dark-green);
    text-decoration: underline;
  }
}