.c-header {
  height: 85vh;
  background-color: blue;
  position: relative;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .fullheight {
      height: 768px;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .fullheight {
      height: 1024px;
    }
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .fullheight {
      height: 320px;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    .fullheight {
      height: 568px;
    }
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .fullheight {
      height: 320px;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .fullheight {
      height: 480px;
    }
  }

  &__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__primary-heading {
    color: var(--white);
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
      display: block;
      font-size: 1.5rem;;
      font-weight: 400;
      letter-spacing: 1.8rem;
      animation: moveInLeft 1s ease-out;
    }

    &--sub {
      display: block;
      font-size: 0.9rem;
      font-weight: 300;
      letter-spacing: 0.6rem;
      animation: moveInRight 1s ease-out;
      margin-bottom: 3.5rem;
    }
  }
}