.c-navbar {
  display: flex;
  position: fixed;
  
  padding-top: 3rem;
  z-index: 4;
  left: 60%;
  top: 3%;

  @include mediaLg {
    left: 45%;
    top: -3%;
  }

  @include mediaMd {
    left: 30%;
    top: -4%;
  }

  @include mediaSm{
    left: 2.5%;
    top:-6%;
  }

  &__link{
    padding-right: 2rem;
    font-size: 1.5rem;
    color: $secondary-color;
    transition: 0.5s;
    @include mediaLg {
      padding-right: 1.5rem;
      font-size: 1.4rem;
    }
  
    @include mediaMd {
      padding-right: 1.5rem;
      font-size: 1.2rem;
    }
  
    @include mediaSm{
      padding-right: 0.8rem;
      font-size: 1rem;
    }
  
    &:hover {
      color: #fff;
    }
  }
}