.c-post-section {
    padding: 2rem 15rem;
    text-align: justify;

    @include mediaLg {
        padding: 2rem 5rem;
      }
    
      @include mediaMd {
        padding: 2rem 3rem;
      }
    
      @include mediaSm{
        padding: 2rem 2rem;
      }

  &__primary-heading {
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 300;
    display: inline-block;
    letter-spacing: 0.3rem;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}