.c-post-card {
  background-image: linear-gradient(to right bottom, var(--light-green), var(--black));
  font-size: 1.5rem;
  font-weight: 100;
  padding: 1.6rem;
  text-align: center;
  border-radius: 0.19rem;
  box-shadow: 0 0.19rem 2.5rem rgba(black, .15);
  transition: all .2s;
  color: var(--white);

  @include response(tab-port) {
    padding: 0.8rem;
  }

  &__icon {
    font-size: 4rem;
    margin-bottom: 0.3rem;
    color: var(--white);

    @include response(tab-port) {
      margin-bottom: 0;
    }
  }


  &__link {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
  }

}