.c-subscription {
  background-color: var(--dark-grey2);
  padding: 0.625rem;
  overflow: hidden;
  color: var(--white);
  margin-top: 3rem auto;



  span {
    font-size: 2.5rem;
    height: 2.5rem;
    display: block;
  }

  h3 {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }

  p {
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
    letter-spacing: 0.2rem;
  }

  &__form {

    &--input {
      width: 80%;
      height: 2.5rem;
      background: #313131;
      border: none;
      outline: none;
      font-size: 1.2rem;
      color: #FFF;
      padding: 0.6rem 0.6rem;
    }

    &--button {
      width: 20%;
      height: 2.5rem;
      display: block;
      float: right;
      color: #FFF;
      font-size: 2rem;
      background: var(--dark-green);
      border: none;
      outline: none;
      transition: 0.4s all;
      padding: 0.2rem;

      

      &:hover {
        opacity: 0.6;
      }
    }
  }
}