*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

html {
  font-family: "Josephine Sans", sans-serif;
}

body {
  width: 100%;
  background: black;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: white;
  font-size: 3rem;
}

p {
  color: white;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin-top: 2rem;
}

li {
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}